# n8n
N8N_HOST=0.0.0.0
N8N_PATH=/
N8N_ENCRYPTION_KEY=some_random_key
WEBHOOK_URL=https://gloriajun.duckdns.org:5678/
GENERIC_TIMEZONE=Asia/Seoul
N8N_BOOKING_WEBHOOK_URL=https://<domain>/webhook/my-ai-agent?type=booking

# Ollama 연결 (서버 본체로 나가기 위한 주소)
OLLAMA_BASE_URL=http://host.docker.internal:11434

# OpenClaw 설정 (사용하시는 토큰이 있다면 입력)
OPENCLAW_BASE_PATH=/openclaw/
OPENCLAW_GATEWAY_TOKEN=5d3077...

DISCORD_SERVER_ID=14917...
DISCORD_BOOKING_CHANNEL_ID=1491...
DISCORD_ALERT_CHANNEL_ID=
DISCORD_BOT_TOKEN=MTQ5MTc...


## LLM
GEMINI_API_KEY=AIza...